extends layout.pug 

block announcement 
    p.coursework This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.

block content
    h3.intro This app is configured for creating, reading, editing and deleting for new members to School of Volunteers.
    div.container 
        a(href="/students") List of members
        a(href="/create") New member
