doctype html
html(lang="en")
    head
        title Students Database
        link(rel="stylesheet" href="/static/styles/style.css")
    body 
        .main
            block announcement
            header.navbar 
                h1 
                    a(href="/") School of Volunteers

                nav.nav 
                    a(href="/students") All Volunteers 
                    a(href="/create") New Volunteer

            block content